@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  logs: true;
  base: false;
}
.swiper {
  padding-bottom: 25px !important;
}
.swiper-container {
  overflow: visible !important;
}
.swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
}
